html{
background-color: rgb(1, 3, 14);}
h1{
    text-align: center;
    color: rgb(97, 90, 127);
font-size: 80px;
}
h2{

color: rgb(92, 92, 165);
text-align: center;

}
.btn{
    text-align: center;
}